/* rem and em do NOT depend on html font-size in media queries! Instead, 1rem = 1em = 16px */

/***********************************/
/* BELOW 1344px (Smaller desktops) */
/***********************************/

@media (max-width: 90em) {
  .quote_container {
    width: 65rem;
    left: 3%;
  }
  .qu te_icon {
    font-size: 6rem;
  }

  .quote_text {
    font-size: 1.6rem;
  }

  .awards {
    margin: 0 15%;
  }
}

/**********************************/
/* BELOW 750px (Smaller desktops) */
/**********************************/
@media (max-width: 47em) {
  .hero_name {
    font-size: 4.4rem;
    letter-spacing: 0rem;
  }

  .page_header {
    font-size: 3rem;
  }

  .bio_container {
    width: 40rem;
  }

  .bio_text_con::first-letter {
    font-size: 4rem;
    margin: -10px 5px -10px 0;
  }

  .text--size {
    font-size: 1.4rem;
  }

  .section_awards {
    padding: 2rem 4rem;
  }

  .awards {
    margin: 0 auto;
  }

  .award_item p,
  .award_icon {
    font-size: 2rem;
  }

  .awards_label {
    font-size: 1.4rem;
  }

  .award--4 {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  /* .slides {
    width: 55rem;
  } */

  .film_slider {
    width: 60rem;
    height: 80vh;
    margin: auto;
  }

  .film_container {
    width: 50%;
    height: 90%;
    min-width: 40rem;
  }
}

/**********************************/
/* BELOW 550px (Smaller desktops) */
/**********************************/

@media (max-width: 35em) {
  .hero_text {
    font-size: 1.6rem;
  }

  .hero_name {
    font-size: 3.2rem;
  }

  .bio_container {
    min-width: 45rem;
  }

  .bio_text_con::first-letter {
    font-size: 4rem;
    margin: -11px 5px -10px 0;
  }

  .quote_container {
    width: 35rem;
    top: 25%;
    left: 8%;
  }

  .section_awards {
    padding-bottom: 0;
  }

  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    padding: 2rem 4rem;
  }

  .slides {
    width: 45rem;
  }
}
/* --- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
