/* --- 01 TYPOGRAPHY SYSTEM

-- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 

-- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

-- Colors:
background-color: 
#e0e8ff;

Tint:
#eff3ff (For text boxes) 

Wiki link:
#1717f5;

Header-font:
#190350;

Awards-font: 
#220274;

-- Box-Shadows: 
box-shadow: 0 5px 24px 0px rgba(0, 0, 0, 0.075);

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --border-set: 1.5px solid #eff3ff;
}
html {
  font-size: 62.5%;
}
body {
  color: #333;
  font-family: "Open sans", serif;
  font-weight: 400;
  line-height: 1.4;
  background-color: #e0e8ff;
}

/*********************************/
/*** HELPER ***/
/*********************************/
.parallax {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 110vh;
}
.text--size {
  font-size: 1.6rem;
}
.caption--size {
  font-size: 1.2rem;
}
.indent {
  margin-left: 2em;
}
.page-header {
  margin: 5rem auto;
  text-align: center;
  font-size: 5rem;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  color: #190350;
}

/*********************************/
/*** HERO PAGE ***/
/*********************************/
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.hero-text {
  font-size: 2.4rem;
  font-weight: 500;
}
.hero-name {
  font-size: 6.4rem;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.1rem;
}
/* IMAGES */
/* (HERO) HOWLS MOVING CASTLE  */
.bg-img-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(img/Background-images/Howls.webp);
}
/* (Quote) KIKI'S DELIVERY SERVICE */
.bg-img-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)),
    url(img/Background-images/Kiki.webp);
}

/*********************************/
/*** BIO PAGE ***/
/*********************************/

.bio {
  background-color: #e0e8ff;
  padding: 9.6rem 0;
}
.bio-container {
  display: flex;
  flex-direction: column;
  background-color: #eff3ff;
  gap: 2rem;
  width: 60rem;
  margin: 0 auto;
  box-shadow: 0 5px 24px 0px rgba(0, 0, 0, 0.075);
  border-radius: 9px;
  overflow: hidden;
}
.bio-img {
  width: 100%;
}
/* Hayao Miyazaki Bio Picture */
.bio-img-caption {
  font-weight: 500;
  text-align: center;
  margin-top: -18px;
  margin-bottom: 4rem;
}
.bio-text-con {
  padding: 0 4rem;
}

/* Big H colored orangered */
.bio-text-con::first-letter {
  font-size: 5rem;
  color: orangered;
  float: left;
  margin: -15px 5px -16px 0;
  padding: 10;
}
/* Hayao Miyazaki Bio Text */
.bio-text {
  text-align: justify;
  font-weight: 500;
  line-height: 1.6;
  margin-bottom: 2rem;
}

.bio-text span {
  font-weight: 600;
}
.bio-text-caption {
  text-align: end;
}

/* Studio Ghibli Logo */
.bio-logo {
  display: flex;
  width: 40%;
  justify-content: center;
  align-self: center;
  margin: 0 auto;
  margin-bottom: 6.2rem;
}

/*********************************/
/*** QUOTE PAGE (KIKI) ***/
/*********************************/
.section-quote {
  color: #fff;
  display: flex;
  position: relative;
}
.quote-container {
  display: flex;
  text-align: justify;
  flex-direction: column;
  gap: 1rem;
  width: 85rem;
  word-spacing: 0.1rem;
  position: absolute;
  top: 20%;
  left: 7%;
}
.quote-icon {
  display: inline-block;
  font-size: 8rem;
}
.quote-text {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.1rem;
  margin-top: -6.5rem;
  padding-left: 3.5rem;
}
.signature {
  display: block;
  font-size: 1.4rem;
  text-align: right;
  font-weight: 600;
  letter-spacing: 0.25rem;
}

/*********************************/
/*** Feature Films ***/
/*********************************/

.film {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 20%));
  justify-content: center;
  gap: 4rem;
  width: 80%;
  margin: 0 auto;
  padding: 1rem 0 8rem 0;
}
.film-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 0 5px 24px 0px rgba(0, 0, 0, 0.075);
  background-color: #eff3ff;
  width: 100%;
}
.film-title,
.film-text,
.film-text-caption {
  padding: 0 2.5rem;
}
.film-item img {
  display: block;
  width: 100%;
}
.film-title {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
}
.film-date {
  display: block;
}
.film-text {
  margin-bottom: auto;
}
.film-text-caption {
  text-align: end;
  margin-bottom: 1.4rem;
}

/*********************************/
/*** AWARDS PAGE ***/
/*********************************/

.section-awards {
  background-color: #e0e8ff;
  border-top: var(--border-set);
}
.awards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  margin: 0 30%;
  color: #220274;
  margin-bottom: 3rem;
}
.awards-label {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 500;
  font-size: 1.6rem;
  margin: 0 auto;
}
.award-icon {
  font-size: 3rem;
}
.award-item p {
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  justify-content: center;
}

/*********************************/
/*** GALLERY PAGE ***/
/*********************************/

.section-gallery {
  background-color: #e0e8ff;
}
.gallery {
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
  gap: 2rem;
  padding: 0.5rem 6.4rem 4.8rem 6.4rem;
  width: 100%;
  margin: 0 auto;
}
.gallery-item {
  overflow: hidden;
  box-shadow: 0 5px 24px 0px rgba(0, 0, 0, 0.075);
}
.gallery-item img {
  width: 100%;
  height: 100%;
  transition: all 0.4s;
  object-fit: cover;
}
.gallery-item img:hover {
  transform: scale(1.05);
}

/*********************************/
/*** Footer ***/
/*********************************/

.footer {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 500;
  text-decoration: none;
  padding: 2rem;
  transition: background-color 0.5s;
  border-top: var(--border-set);
}
/*********************************************/
/*  Bio / Wiki / Footer captions (Active/Hover etc) */
/*********************************************/

.bio-text-caption a,
.film-text-caption a,
.footer a {
  font-weight: 600;
  color: #1717f5;
  text-decoration: none;
}
.bio-text-caption a:hover,
.film-text-caption a:hover,
.footer a:hover {
  color: red;
}
.bio-text-caption a:active,
.film-text-caption a:active,
.footer a:active {
  color: grey;
}
